*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard-container {
    display: grid;
    grid-template-areas: 
        "sidebar main";
    grid-template-columns: 250px 1fr;

}
.sidebar {
    grid-area: sidebar;
    background-color: #2d3748;
    height: 100vh;
}
.sidebar .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}
.sidebar .menu{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}
.menu li{
    padding: 10px;
}
.menu li a{
    font-size: .9em;
    padding-left: 5px;
    font-weight: 400;
}
.menu-item span{
    background-color: #2d3748a4;
    padding: 5px 10px;
    border-radius: 7px;
}
 .active{
    background-color: #2d3748a4;
    border-radius: 10px;
    width: 80%;
    height: 40px;
}

.active .menu-icon{
    color: #0066e6;
    font-size: 1.8em;
}
.second-menu{
    padding: 60px 0;
}
.second-menu h4{
    padding-left: 30px;
}
.main {
    grid-area: main;
    padding: 20px; 
    height: 100vh;
    overflow-y: auto;
}
.main .main-dashboard .pages-dash{
    display: flex;
}
.main-dashboard .pages-dash .left{
    position: absolute;
    left: 270px;
    top: 10px;
}
.left{
    font-size: .7em;
}
.left p span{
    color: #969696;
}
.right{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 1em;
    color: #A0AEC0;
}
.right .search-icon{
    position: absolute;
    right: 330px;
    font-size: .8em;
}
.right input{
    padding: 6px 20px;
    border: 1px solid #ACACAC;
    border-radius: 20px;
}
.right input::placeholder{
    padding-left: 15px;
}
.four-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.four-cards .cards{
    background-color: #0a1b3f;
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    margin-left: 20px;
    border-radius: 19px ;
    padding: 10px;
}
.cards .card-left .name{
    color: #A0AEC0;
    font-size: .7em;
}
.card-left .amount{
    display: inline;
}
.card-left .percent{
    color: #01B574;
    font-size: .7em;
}
.cards .icon{
    background-color: #0066e6;
    padding: 4px 9px;
    border-radius: 7px;
    text-align: center;
}