* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dashboard-container {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 250px 1fr;
}
.sidebar {
  grid-area: sidebar;
  background-color: #2d3748;
  height: 100vh;
}
.sidebar .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.sidebar .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu li {
  padding: 5px;
}
.menu li a {
  font-size: 0.9em;
  padding-left: 5px;
  font-weight: 400;
}
.menu-item span {
  background-color: #2d3748a4;
  padding: 5px 10px;
  border-radius: 7px;
}
.active {
  background-color: #2d3748a4;
  border-radius: 10px;
  width: 80%;
  height: 40px;
}

.active .menu-icon {
  color: #0066e6;
  font-size: 1.8em;
}
.second-menu {
  padding: 20px 0;
}
.second-menu h4 {
  padding-left: 30px;
}
.main {
  grid-area: main;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}
.main .main-dashboard .pages-dash {
  display: flex;
}
.main-dashboard .pages-dash .left {
  position: absolute;
  left: 270px;
  top: 10px;
}
.left {
  font-size: 0.7em;
}
.left p span {
  color: #969696;
}
.right {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 1em;
  color: #a0aec0;
}
.right .search-icon {
  position: absolute;
  right: 330px;
  font-size: 0.8em;
}
.right input {
  padding: 6px 20px;
  border: 1px solid #acacac;
  border-radius: 20px;
}
.right input::placeholder {
  padding-left: 15px;
}
.four-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.four-cards .cards {
  background-color: #0a1b3f;
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: center;
  margin-left: 20px;
  border-radius: 19px;
  padding: 10px;
}
.cards .card-left .name {
  color: #a0aec0;
  font-size: 0.7em;
}
.card-left .amount {
  display: inline;
}
.card-left .percent {
  color: #01b574;
  font-size: 0.7em;
}
.cards .icon,
.img span {
  background-color: #0066e6;
  padding: 4px 9px;
  border-radius: 7px;
  text-align: center;
}
.big-cards {
  display: flex;
  gap: 1.5em;
  padding: 20px;
}
.big-cards .welcome-card {
  background: url(/big-card-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 20px;
  padding: 20px 15px;
  height: 210px;
}
.welcome-card p {
  color: #a0aec0;
  font-size: 0.8em;
}
.welcome-card .name {
  font-size: 1.2em;
  color: white;
  font-weight: 700;
}
.record {
  padding-top: 70px;
}
.satisfaction-card,
.refferal {
  position: relative;
  background-color: #0a1b3f;
  padding: 20px 15px;
  width: 270px;
  height: 210px;
  border-radius: 20px;
}
.satisfaction-card .img,
.reff-img-side {
  width: 200px;
  padding: 10px 30px;
}
.img img {
  width: 100%;
}
.satisfaction-card h4 {
  font-size: 1em;
}
.satisfaction-card p {
  font-size: 0.7em;
}
.img span {
  position: absolute;
  top: 100px;
  right: 130px;
}
.percent-div {
  position: absolute;
  top: 160px;
  right: 30px;
  background-color: #2d3748;
  padding: 3px 12px;
  border-radius: 15px;
  color: #a0aec0;
  width: 80%;
}
.percent-div .ppp {
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
}
.likes .p {
  font-size: 1.3em;
  text-align: center;
  color: white;
}
.refferal {
  width: 330px;
}
.refferal .top {
  display: flex;
  justify-content: space-between;
}
.reff {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 17px 0;
}
.reff div div {
  background-color: #2d3748;
  margin-bottom: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  font-weight: 600;
}
.reff div p {
  font-size: 0.7em;
  color: #a0aec0;
}
.reff .reff-img-side img {
  width: 120%;
}
.reff-img-side span {
  font-size: 1.4em;
  color: white;
  font-weight: 600;
}
.reff-img-side .ssa {
  background: none;
  position: absolute;
  top: 60px;
  right: 37px;
}
.charts{
    padding-left: 20px;
    display: flex;
    gap: 1em;
}
.chart1{
    background: url(/refferal-bg.png);
    width: 55%;
    border-radius: 20px;
}
.chart-text{
    padding: 10px 15px;
}
.chart-text h2{
    font-size: 1.2em;
}
.chart-text p{
    font-size: .8em;
}
.chart-text span{
    color: #01b574;
}
.chart2{
    width: 43%;
}
.active-users-card{
    background-color: #0a1b3f;
    border-radius: 20px;
    padding: 15px 0;
    
}
.active-users-card .header{
   padding: 15px;
}
.active-users-card .header p{
    font-size: .7em;
}
.active-users-card .header span{
    color: #01b574;
}
.stats{
    display: flex;
    gap: 2em;
    padding: 0 15px;
}
.stat-item div{
    display: flex;
    align-items: center;
}
.stat-item .icon{
    font-size: .7em;
    padding: 5px 7px;
    background-color: #0066e6;
    border-radius: 7px;
}
.stat-item h5 {
  font-size: 12px;
  color: #93c5fd;
  margin-bottom: 4px;
  padding-left: 7px;
}

.stat-item p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: white;
}

.progress {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.progress span {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #38bdf8, #ffffff);
  border-radius: 4px;
}
